@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.sections {
    display: flex;
    flex-direction: column;
    flex: 1;

}

/* header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background-color: #1F2937;
}

.links a {
    color: #E5E7EB;
    cursor: pointer;
}

/* placeholder for logo, i will still think about it */
.logo {
    font-size: 24px;
    font-weight: 1000;
    color: #F9FAF8
}

ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

a {
    text-decoration: none;
}

/* first section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1F2937;
    gap: 100px;
}

.hero-content-1, .hero-content-2 {
    flex: 1;
    padding: 60px;
    margin-left: 65px;
}

#hero-header-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#hero-paragraph-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content-2 img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 1px #888888;
}



/* second section */

.random-information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    flex: 1;
    padding: 60px;
    margin-top: -50px;
}

.random-information-header {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info img {
    width: 180px;
    height: 180px;
    border: 2px solid #1F2937;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 1px #888888;
}

.info {
    max-width: 200px;
}

.info-text {
    margin-top: 10px;
}

/* third section */
.quote {
    display: flex;
    flex-direction: column;
    flex: 1
}

/* fourth section */
.last-section {
    display: flex;
    flex: 1;
}

/* footer */

.footer {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937
}